.bottom-cta-bg{
    position: relative;
}

.bottom-cta-bg::before{
    content: '';
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    background: url(../../images/bg-tablet-pattern.svg);
    background-size: 34em;
    background-repeat: no-repeat;
    opacity: 0.07;
    background-position: left 0em top -3em;
    
    @include max-width(1300px)
    {
        width: 100%;
    }
    
    @include max-width(971px)
    {
        left: 0;
        background-position: left -29em top 3em;
    }
}
    
.bottom-cta-bg::after{
    content: '';
    width: 1550px;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    background: url(../../images/bg-tablet-pattern.svg);
    background-size: 34em;
    background-repeat: no-repeat;
    opacity: 0.07;
    background-position: left 75em bottom 6em;
    
    @include max-width(1555px)
    {
        right: 0;
    }
    
    @include max-width(1300px)
    {
        background-position: left 80em bottom 6em;
    }
    
    @include max-width(971px)
    {
        display: none;
    }
}

.bottom-cta{

    margin-top:4em;
    height: 25em;
    background-color: color(brightRed);
    display: flex;
    justify-content: center;
    align-items: center;

    //Change width of the container @971px
    @include min-width(971px){
        height: 215px;
    }
    .container{
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;

        //change flex direction @971px
        @include min-width(971px){
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 1120px;
            margin: 0;
        }   

        h1{
            font-size: 2.5rem;
            line-height: 1.2em;
            color: white;
            font-weight: 700;
            margin: 0 0 1em 0;

            //change h1 width @971px
            @include min-width(971px){
                width: 48%;
                text-align: left;
                margin: 0;
            }   
        }

        .cta-btn{
            @extend %cta-btn;
            color:color(brightRed); 
            background: white;
            font-weight: 700;
            padding: 1rem 1.6rem;
        }

        .cta-btn:hover{
            @extend %cta-btn-hover;
        } 
    }
}