footer{
    height: 33.75rem;
    background-color: color(veryDarkBlue);
    display: flex;
    align-items: center;

    //change the height @971px
    @include min-width(971px){
        height: 250px;
    }
}


.footer-container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
   
    //change the height and width @971px
    @include min-width(971px){
        max-width: 1120px;
        height: 60%;
    }

    .email-submission{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5em;

        input[type="email"]{
            border: 0px solid;
            outline: none;
            width: 72%;
            height: 45px;
            border-radius: 90px;
            font-family: 'Be Vietnam', sans-serif;
            padding-left: 2em;
            text-align: left;
        }
    
        button{
            border: none;
            outline: none;
            width: 20%;
            height: 45px;
            border-radius: 90px;
            padding: 0 2.8em;
            background-color: color(brightRed);
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 250ms ease-in-out;
        }

        button:hover{
            @extend %cta-btn-hover;
        }

        //Set the position @971px
        @include min-width(971px){
            position: absolute;
            top: 0;
            right: 0;
            width: 35%;
        }
    }

    
    .links{
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2.5em;
        ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 0.8em;
                a{
                    color: white;
                    transition: color 170ms ease-in-out;
                }

                a:hover{
                    color: color(brightRed);
                }
            }  
        }

        //Set the position @971px
        @include min-width(971px){
            font-size: 0.9rem;
            position: absolute;
            top: 0.4em;
            left: 16em;
            width: 40%;
        }
    }

    .social-logos{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;

        img{
            width: 36px;
            cursor: pointer;
            transition: transform 200ms ease-in-out;

            @include min-width(971px){
                width:21px;
            }
        }

        img:hover{
            transform: scale(1.5);
        }
        
        //Set the position @971px
        @include min-width(971px){
            position: absolute;
            bottom: 0.5em;
            left: 0;
            margin: 0;
            width: 18%;
        }
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
        img{
            height: 34px;
            @include min-width(971px){
                height: 24px;
            }
        }
        
        //Set the position @971px
        @include min-width(971px){
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h6{
        margin: 0;
        color: color(darkGrayishBlue);
        text-align: center;
        font-weight: 400;
        font-size: 0.8rem;

        //Set the position @971px
        @include min-width(971px){
            position: absolute;
            bottom: 2em;
            right: 0;
        }
    }
}

//Style the error for email input
.email-error-border{
    border: 1.5px solid color(brightRed) !important;
    color: color(brightRed);
}

.email-error-message::after{
    content: 'Please insert a valid email';
    font-size: 0.9rem;
    position: absolute;
    top: 3.4em;
    left: 1.1em;
    color: color(brightRed);
}

.email-success-message::after{
    content: 'Congratulations!';
    font-size: 0.9rem;
    position: absolute;
    top: 3.4em;
    left: 1.1em;
    color: color(brightRed);
}
