.gradient-overlay{
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(203,203,203,1) 0%, rgba(89,89,89,1) 100%, rgba(0,0,0,1) 100%);
    opacity: 0;
    position: fixed;
    top: 0;
    display: none ;
    z-index: 2;
    
}

//set active class for gradient overlay
.gradient-overlay-active{
    display: block;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
    
}

.mobile-nav{

    z-index: 3;
    display: none;
    border-radius: 5px;
    width: 85%;
    position: absolute;
    top:6.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .mobile-nav-links-items{
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 2em 0;
        a{
            text-decoration: none;
            color: color(blueDark);
            font-size: 1.2rem;
            font-weight: 700;
        }

        li:not(:last-child){
            margin-bottom: 1.2em;
        }
    }

}

.mobile-nav-active{
    display: block;
    .mobile-nav-links-items{
        display: block;
    }
}
