.hero-container{

    max-width: 1400px;
    width: 90%;
    margin: 1.875em auto 7em auto;
    display: flex;
    flex-direction: column;
    height: auto;
    //border: 1px solid black;
    //Change flex direction at 961px
    @include min-width(961px){
        flex-direction: row;
    }

    .hero-image{
        order: 1;
        max-width: 27.875em;
        margin: 0 auto 3em auto;
        img{
            max-width: 100%;
        }

        //Change flex order at 961px
        @include min-width(961px){
            order: 2;
        }
        
    }

    .hero-text{
        order: 2;
        height: 50%;
        width: 100%;
        text-align: center;

        h1{

            color: color(blueDark);
            line-height: 1.3em;
            font-size: 2.3rem; 
            font-weight: 700;   
            margin:0;
        }

        p{
            color: color(darkGrayishBlue);
            margin: 1.2em 0 2.8em 0;
            line-height: 1.9em;
        }
    }

    .cta-btn{
        @extend %cta-btn;
    }

    .cta-btn:hover{
        @extend %cta-btn-hover;
    }   

}