.hero-container{
    max-width: 1120px;
    width: 90%;
    height: auto;
    margin: 1.875em auto 7em auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    //Change flex direction at 971px
    @include min-width(971px){
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        margin: 4em auto 5em auto;
        text-align: left;
    }

    .hero-image{
        order: 1;
        max-width: 27.875em;
        margin: 0 auto 3em auto;
        img{
            max-width: 100%;
        }

        //Change flex order at 971px
        @include min-width(971px){
            order: 2;
            margin: 0;
            max-width: 35em;
        }

        //Lower the image size at 1090px
        @include max-width(1090px){
            max-width: 30em;
        }
    }

    .hero-text{
        order: 2;
        height: 50%;
        width: 100%;

        //Change the width percentage of the hero text div @ 971px
        @include min-width(971px){
            width: 45%;
        }

        //Change the width percentage of the hero text div @ 1090px
        @include min-width(1090px){
            width: 40%
        }
        
        h1{
            color: color(blueDark);
            line-height: 1.3em;
            font-size: 2.3rem; 
            font-weight: 700;   
            margin:0;

            //change the font size @ 971px
            @include min-width(971px){
                font-size: 3rem; 
            }
        }

        p{
            color: color(darkGrayishBlue);
            margin: 1.2em 0 2.8em 0;
            line-height: 1.9em;

            //Change the width percentage of the paragraph @ 971px
            @include min-width(971px){
                line-height: 1.7em;
                width: 80%;
            }
        }
    }

    .cta-btn{
        @extend %cta-btn;
    }

    .cta-btn:hover{
        @extend %cta-btn-hover;
    }
}