.info{

    // border: 1px solid coral;
    width: 90%;
    margin:0 auto 3em auto;
    height: auto;
    text-align: center;
    h2{
        margin: 0;
        font-size: 2.1rem;
        line-height: 1.5em;
        color: color(blueDark);
        font-weight: 700;
    }

    p{
        color: color(darkGrayishBlue);
        line-height: 1.8em;
        margin: 1.2em 0 0 0;
    }
}