.nav{
    display: flex;
    max-width: 1120px;
    width: 90%;
    height: 3.75em;
    justify-content: space-between;
    align-items: center;
    margin: 1.25em auto 0 auto;
    background: transparent;

    &-logo{
        position: relative;
        top: 0.22em;
        background: url(../../images/logo.svg);
        width: 7.875em;
        height: 1.5em;
        background-size: contain ;
        background-repeat: no-repeat;
        background-position: center; 
    }

    &-links ul{
        display: flex;
        padding-left: 0;

        li{
            margin: 0 0.9em;
            font-weight: 500;
            font-size: 0.9rem;
            a{
                color: color(blueDark);
                font-weight:500;
                transition: opacity 200ms ease-in-out;
            }

            a:hover{
                opacity: 50%;
            }

            //At 1090px , increase the margin between the nav links
            @include min-width(1090px){
                margin: 0 1.5em;
            }
        }
    }

    .cta-btn{
        @extend %cta-btn;
    }

    .cta-btn:hover{
        @extend %cta-btn-hover;
    }   

    &-hamburger{
        z-index: 2;
        cursor: pointer;
        span{
            
            display: block;
            background-color: color(blueDark);
            width: 1.5625em;
            height: 0.25em;
        }
        span:not(:last-child){
            margin-bottom: 0.25em;
        }
    }

    &-cross{
        display: none;
        cursor: pointer;
        z-index: 3;
    }
}

.nav::after{
    content: '';
    width: 1434px;
    height: 660px ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    background: url(../../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top -80px;

    @include max-width(1440px){
        background-position: right -20px top -80px;
    }

    @include max-width(1433px){
        width: 100%;
    }

    @include max-width(1250px){
        background-position: right -110px top -80px;
    }

    @include max-width(971px){
        background-position: right -150px top -75px;
    }

    @include max-width(500px){
        background-size: 125%;
    }
}